.w-100 {
  width: 100% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.dashboard_background_color {
  background: #F0F0F0;
}

.font-weight-500 {
  font-weight: 500;
}
.screen-back-color{
  background-color: #121212;
}
.font-color {
  color: #393939;
}


.label {
  color: #393939;
  font-size: 15px;
  font-weight: 500;
}

.table-label {
  color: #393939;
  font-size: 14px;
  font-weight: 500;
}
